target/
*.class
*.pyc
temp.txt
node_modules/
__pycache__/
data/
!fabric-ui-studio/src/main/java/org/pronzato/fabric/ui/studio/v2/data/**
!fabric-ui-studio/src/main/java/org/pronzato/fabric/ui/studio/v2/data
!fabric-ui-studio/src/test/java/org/pronzato/fabric/ui/studio/v2/data/**
!fabric-ui-studio/src/test/java/org/pronzato/fabric/ui/studio/v2/data
!/fabric-ui-studio/src/main/java/org/pronzato/fabric/ui/studio/data/
/fabric-ui-studio/src/main/java/org/pronzato/fabric/ui/studio/data/*
!/fabric-ui-studio/src/main/java/org/pronzato/fabric/ui/studio/data/flows/
!/fabric-ui-studio/src/main/java/org/pronzato/fabric/ui/studio/data/flows/**
!/fabric-ui-studio/src/main/java/org/pronzato/fabric/ui/studio/data/views/
!/fabric-ui-studio/src/main/java/org/pronzato/fabric/ui/studio/data/views/**
**/.build/
vault/*
!vault/.gitkeep
!vault/README.md
fabric-api/vault/
fabric-config/src/main/resources/metadata/
fabric-all.jar
import-exec.log

tmp/

demo_connection.log

fabric-api/src/main/resources/duckdb/
